<div class="">
	<h1 class="">Add Ingredient</h1>
	
	<div class=''>
		<%= render 'form', recipe_food: @recipe_food %>
	</div>

	<%= link_to 'Back', url_for(:back), class: "button is-light mt-2" %>
</div>
