* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #272a31;
  --secondary: #ec5242;
  --terciary: #d3d3d3;
  --brand: #d23228;
  --success: #0d7d4d;
  --info: #03c7e8;
  --warning: #f0cc00;
  --danger: #ab0d02;
  --light: #f1ecea;
  --dark: #00262b;
  --white: #fff;
  --lato-font: 'Lato', sans-serif;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--lato-font);
}

.navbar {
  background: #034952;
  padding: 2%;
  text-align: center;
}

.hd {
  font-size: 35px;
  color: #fff;
  margin-bottom: 3%;
}

.signin {
  border-radius: 20px;
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 14px;
  background-color: #f9f7f6;
  color: #29292b;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  position: static;
}

.signin:hover {
  background-color: #06c7ca;
}

.signup {
  border-radius: 20px;
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 14px;
  background-color: #f9f7f6;
  color: #29292b;
  text-decoration: none;
  text-align: center;
}

.signup:hover {
  background-color: #06c7ca;
}

.regitration-header {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.field {
  padding-top: 2%;
  position: relative;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  line-height: 15px;
}

.actions {
  position: relative;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 2%;
}

.links {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1%;
}
